body{
	color:#074495; 
	background-color:transparent; 
	background-image:url(theme4/bg.gif);
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:top center;
	background-color:#A4EDFF;
}

#boxProfileMain .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxProfileMain .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxProfileMain .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxProfileMain.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 98.5%;
}
#boxProfileMain a:link{   text-decoration:none;  color:#083766;  } 
#boxProfileMain a:visited{    text-decoration:none; color:#083766; } 
#boxProfileMain a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxProfileMain .color1{  color:#083766; } 
#boxProfileMain .color2{  color:#3F6E9D; } 
#boxProfileMain .bgcolor1{  background:#083766; } 
#boxProfileMain .bgcolor2{  background:#3F6E9D; } 


#boxContent .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxContent .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxContent .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxContent.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 100%;
}
#boxContent a:link{   text-decoration:none;  color:#083766;  } 
#boxContent a:visited{    text-decoration:none; color:#083766; } 
#boxContent a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxContent .color1{  color:#083766; } 
#boxContent .color2{  color:#3F6E9D; } 
#boxContent .bgcolor1{  background:#083766; } 
#boxContent .bgcolor2{  background:#3F6E9D; } 


#boxComment .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxComment .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxComment .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxComment.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 100%;
}
#boxComment a:link{   text-decoration:none;  color:#083766;  } 
#boxComment a:visited{    text-decoration:none; color:#083766; } 
#boxComment a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxComment .color1{  color:#083766; } 
#boxComment .color2{  color:#3F6E9D; } 
#boxComment .bgcolor1{  background:#083766; } 
#boxComment .bgcolor2{  background:#3F6E9D; } 


#boxPhoto .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxPhoto .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxPhoto .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxPhoto.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 100%;
}
#boxPhoto a:link{   text-decoration:none;  color:#083766;  } 
#boxPhoto a:visited{    text-decoration:none; color:#083766; } 
#boxPhoto a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxPhoto .color1{  color:#083766; } 
#boxPhoto .color2{  color:#3F6E9D; } 
#boxPhoto .bgcolor1{  background:#083766; } 
#boxPhoto .bgcolor2{  background:#3F6E9D; } 


#boxFriend .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxFriend .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxFriend .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxFriend.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 100%;
}
#boxFriend a:link{   text-decoration:none;  color:#083766;  } 
#boxFriend a:visited{    text-decoration:none; color:#083766; } 
#boxFriend a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxFriend .color1{  color:#083766; } 
#boxFriend .color2{  color:#3F6E9D; } 
#boxFriend .bgcolor1{  background:#083766; } 
#boxFriend .bgcolor2{  background:#3F6E9D; } 


#boxTopFriend .box_header{
	color:#F6F6F6; 
	background-color:#A97F2A; 
	background-image:url(theme4/header.gif);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
	height:29px;
}
#boxTopFriend .box_body{
	color:#083766; 
	background-color:#7FD4F6; 
	background-image:url(theme4/bgbody.jpg);
	background-repeat:repeat-x;
	background-attachment:scroll;
	background-position:top left;
}
#boxTopFriend .box_footer{
	background-color:transparent; 
	background-image:url();
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:top left;
	height:0px;
}
#boxTopFriend.box_outer{
	border-width:1px; 
	border-style:solid;
	border-color:#2989E9;
	width: 100%;
}
#boxTopFriend a:link{   text-decoration:none;  color:#083766;  } 
#boxTopFriend a:visited{    text-decoration:none; color:#083766; } 
#boxTopFriend a:hover{    text-decoration:underline; color:#3F6E9D; } 
#boxTopFriend .color1{  color:#083766; } 
#boxTopFriend .color2{  color:#3F6E9D; } 
#boxTopFriend .bgcolor1{  background:#083766; } 
#boxTopFriend .bgcolor2{  background:#3F6E9D; } 
