.loading-indicator {
	font-size:8pt;
	background-repeat: no-repeat;
	background-position:top left;
	padding-left:20px;
	height:18px;
	text-align:left;
}
#header_logo {
	background-image:url(../img/logo.png);
	float:left;
	height:62px;
	width:406px;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	border:1px solid #6593cf;
	padding:2px;
	background:#c3daf9;
	width:150px;
	text-align:center;
	z-index:20001;
}
#loading .loading-indicator{
	border:1px solid #a3bad9;
	background:white;
	color:#003366;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
}
#loading-mask{
	width:100%;
	height:100%;
	background:#c3daf9;
	position:absolute;
	z-index:20000;
	left:0;
	top:0;
 }
.newza {
	font-family: "Microsoft Sans Serif", Tahoma;
	font-size: 12px;
	width:99%;
}
#header {
	padding: 1px 1px 1px 1px;
	
	 	
}
#sidebar {
	border: 1px solid #CED9DF; 	
	float: left;
	width:21%; 
	margin: 0;	padding: 0; 
	display: inline;
}
#containner {
	 /* border: 1px solid #CED9DF; 	 */
	width:99%; 
	margin:auto;
	text-align:center;
}
#content{
	width:100%; 
	margin:auto;
	text-align:center;
	
}
#col1{
	width:32%;	
	margin-left:10px;
	float:left;
	
}
#col2{
	width:32%;
	float:left;
	margin: 0px 10px 0px 10px;
}
#col3{
	width:32%;
	float:left;
	m
}
#footer{
	width:100%;
	float:left;
	background-color: #CAECFB;
	border-bottom: solid 1px #5EC7F2;
	border-top: solid 1px #5EC7F2;
	height:20px;
	
}
/*box */

.box_outer{
    margin:0 0 15px 0;
	padding:0px;
	
}
.edit_data,.edit_theme,.edit_display,.edit_expand{
    cursor:pointer;    
}
.box_title{
   float:left;
   padding:3px 0 0 8px;
   font-size:14px;
   font-weight:bold;
}
.link_title{
   font-size:14px;
   cursor:pointer;
}

.box_edit{
   float:right;
   padding:3px 3px 0 0;
}

.box_body{
   overflow:hidden;width:100%;
  /*
	min-height: 120px;
	height:auto !important;
    height:120px;
	*/
	min-height: 200px;
}
#header{
	text-align:center;
	background-color:#ffcccc;
	width:100%;
	height:65px;
}


.boxlink{
	text-align:center;
	margin: 1px 1px 1px 1px;
	cursor:pointer;
}
.boxlink:hover{
	background-color:#77CDF1;
	border-bottom:1px solid  #000000;
	border-top:1px solid  #000000;
	border-left:1px solid  #000000;
	border-right:1px solid  #000000;
}
.UIPhotoGrid_Image {
	background:white none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	padding:4px;
	vertical-align:middle;
}
.divEdit{

}
.divEdit:hover{
	padding: 1px 20px 6px 0px;
	border: 1px solid #7EADD9;
	background-color: #ffffff;
	background-position: right;
}
.txtEdit{
	padding: 1px 0px 6px 0px;
	border: 1px solid #7EADD9;
	background-color: #ffffff;
}

.blockFriend{
	overflow:hidden;
	padding:3px 3px 3px 3px;
	width: 70px;
	height: 100px;
	float: left;
}
.photoFriend{
	width: 70px;
	height: 70px;
	border: solid 1px #000000;	
	cursor: pointer;
}
.friendName{
	overflow:hidden;
	width: 70px;
	display: block;	
	float: left;
	text-align: center;
}
.blueColorText{
	text-align:left;
	background-color: #CAECFB;
	border-bottom: solid 1px #5EC7F2;
	border-top: solid 1px #5EC7F2;
	margin:2px 2px 2px 2px;
	height:30px;
}